{
  "googleClient": {
    "id": "aaaaaaaaaaaa-bbbbbbbbbbbbbbbbbbbbbb.apps.googleusercontent.com",
    "secret": "xxxxxxxxxxxxxxxxxx",
    "callbackURL:": "http://localhost:8000/oauth2callback"
  }
}
  