{
  "googleClient": {
    "id": "aaaaaaaaaaaa-bbbbbbbbbbbbbbbbbbbbbb.apps.googleusercontent.com",
    "secret": "xxxxxxxxxxxxxxxxxx",
    "callbackURL:": "/api/oauth2callback"
  },
  "mongoDB": {
    "url": "mongodb://xxxxx/xxxx",
    "username": "xxxxxxxx",
    "password": "xxxxxxxxxxxxxxxxxx"
  },
  "jwt": {
    "key": "xxxxxxxxxxxxxxxxxxxxx"
  }
}
  